@import url("https://fonts.googleapis.com/css2?family=Benne&family=Bitter:wght@100;200;400;600&display=swap");
/* line 1, ../../../../../Documents/Proyecto final/sass/_header.scss */
#header {
  width: 100%;
  height: 124px;
  /*left: 20px;*/
  /*background: linear-gradient($main-bg-gradient);*/
  /*background-color: var(--main-bg-color); */
  border-radius: 10px;
  backdrop-filter: blur(25px);
  /*/box-shadow: var(--b-s);*/
}

/* line 11, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav {
  position: fixed;
  top: 140px;
  left: 10px;
  /*bottom: 150px;*/
  width: 70px;
  border-radius: 14px;
  box-sizing: initial;
  z-index: 1;
  transition: width 0.5s;
  overflow: hidden;
  /*background: linear-gradient(var(--main-bg-gradient));*/
  /* /*background-color: var(--main-bg-color); */
  backdrop-filter: blur(25px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  align-content: flex-start;
}

/* line 30, ../../../../../Documents/Proyecto final/sass/_header.scss */
.activeMenu {
  width: 300px;
}

/* line 33, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

/* line 41, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* line 49, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  /*/*background-color: var(--main-bg-color);*/
  backdrop-filter: blur(25px);
  display: none;
}

/* line 58, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: var(--main-bg-color);*/
  backdrop-filter: blur(25px);
  border-bottom-right-radius: 20px;
}

/* line 69, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li.active b:nth-child(1),
.nav ul li.active b:nth-child(2) {
  display: block;
}

/* line 74, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  /*background-color: var(--main-bg-color);*/
  backdrop-filter: blur(25px);
  display: none;
}

/* line 83, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: var(--main-bg-color);*/
  backdrop-filter: blur(25px);
  border-top-right-radius: 20px;
}

/* line 94, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li.active {
  /*background-color: var(--main-bg-color-active);
	box-shadow: 12px 7px 15px 5px rgba(0 ,0 ,0,0.3) inset;*/
}

/* line 99, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #333;
}

/* line 107, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li.active a {
  color: #ffff;
}

/* line 110, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

/* line 118, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li a .icon ion-icon {
  font-size: 1.5em;
}

/* line 121, ../../../../../Documents/Proyecto final/sass/_header.scss */
.nav ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

/* line 129, ../../../../../Documents/Proyecto final/sass/_header.scss */
.toggle {
  position: relative;
  top: 10px;
  right: -12px;
  width: 50px;
  height: 50px;
  /* /*background-color: var(--main-bg-color); */
  /* backdrop-filter: blur(25px) ; */
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 143, ../../../../../Documents/Proyecto final/sass/_header.scss */
.toggle.active {
  /*background-color: var(--main-bg-color-active);*/
}

/* line 147, ../../../../../Documents/Proyecto final/sass/_header.scss */
.toggle.active ion-icon.close {
  color: black;
}

/* line 151, ../../../../../Documents/Proyecto final/sass/_header.scss */
.toggle ion-icon {
  position: absolute;
  color: black;
  font-size: 34px;
  display: none;
}

/* line 158, ../../../../../Documents/Proyecto final/sass/_header.scss */
.toggle ion-icon.open,
.toggle.active ion-icon.close {
  display: block;
}

/* line 163, ../../../../../Documents/Proyecto final/sass/_header.scss */
.toggle ion-icon.close,
.toggle.active ion-icon.open {
  display: none;
}

/* line 168, ../../../../../Documents/Proyecto final/sass/_header.scss */
#logo {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

/* line 175, ../../../../../Documents/Proyecto final/sass/_header.scss */
#logo img {
  height: 107px;
  width: 223px;
  border-radius: 15px;
}

@media only screen and (min-width: 1024px) and (max-width: 1050px) {
  /* line 182, ../../../../../Documents/Proyecto final/sass/_header.scss */
  [class*="nav"] {
    position: sticky;
    float: left;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  /* line 188, ../../../../../Documents/Proyecto final/sass/_header.scss */
  [class*="activeMenu"] {
    width: 97%;
  }
}

/* line 1, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
#saveSpaceTop {
  width: 100%;
  height: 128px;
}

/* line 6, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
#saveSpace {
  /* margin-left: 80px;	 */
}

/* line 11, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
#page {
  /* height: 100%; */
  /*left: 100px;*/
  /* width: 100%; */
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  /*background: linear-gradient($main-bg-gradient);
    background-color: $main-bg-color;*/
  backdrop-filter: blur(5px);
  /*box-shadow: $b-s; */
}

/* line 25, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
.item {
  width: 100%;
  height: 100%;
}

/* line 29, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
.icontent {
  border-radius: 10px;
  border: 1px solid rgba(0, 212, 255, 0.5);
  background-color: rgba(255, 162, 51, 0.1);
  background: linear-gradient(0deg, #020024 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 212, 255, 0.2) 100%);
  backdrop-filter: blur(25px);
  box-shadow: 10px 20px 28px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px 0px rgba(255, 255, 255, 0.2) inset, -6px -5px 13px 5px rgba(255, 255, 255, 0.3) inset;
  margin: 10px;
}

/* line 38, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
#i1 {
  height: 250px;
}

/* line 41, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
#i2 {
  /* width: 50%; */
  height: 250px;
}

/* line 45, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
#i3 {
  height: 200px;
  padding: 17px;
}

/* line 49, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
#i4 {
  height: 400px;
}

/* line 52, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
.afro {
  height: 450px;
}

/* line 55, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
.icontent {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* line 60, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
.titInicial {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 450%;
}

/* line 66, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
.textInicial {
  display: flex;
  text-align: right;
  font-size: 1.25rem;
  height: 181px;
  margin: 28px;
  line-height: 40.6px;
}

/* line 74, ../../../../../Documents/Proyecto final/sass/_indexstyle.scss */
.pIndex {
  font-size: 500%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* line 1, ../../../../../Documents/Proyecto final/sass/_footer.scss */
#footer {
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 138px;
  background: #A5A58D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* line 13, ../../../../../Documents/Proyecto final/sass/_footer.scss */
#footer a .icon {
  min-width: 60px;
  line-height: 70px;
  text-align: center;
}

/* line 18, ../../../../../Documents/Proyecto final/sass/_footer.scss */
#footer a .icon ion-icon {
  font-size: 3.5rem;
  word-spacing: 35px;
  color: white;
}

/* line 23, ../../../../../Documents/Proyecto final/sass/_footer.scss */
.textFooter {
  font-size: 1.3rem;
  text-align: center;
}

/* line 2, ../../../../../Documents/Proyecto final/sass/_generales.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

/* line 8, ../../../../../Documents/Proyecto final/sass/_generales.scss */
body {
  min-height: 100vh;
  background-image: url("../media/bgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.form {
  padding: 5px 2px;
}

/* line 5, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.box {
  width: 397px;
  padding: 24px;
  position: relative;
  top: 45%;
  left: 36.5%;
  text-align: center;
}

/* line 13, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.box h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
}

/* line 18, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.box input[type="text"] {
  border: 1.2rem;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #A5A58D;
  padding: 14px 10px;
  width: 200px;
  border-radius: 24px;
  transition: 0.25s;
}

/* line 30, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.box input[type="email"] {
  border: 1.2rem;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #A5A58D;
  padding: 14px 10px;
  width: 200px;
  border-radius: 24px;
  transition: 0.25s;
}

/* line 42, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.box input[type="text"]:focus, .box input[type="email"]:focus {
  width: 350px;
  border-color: #DDBEA9;
  border-radius: 24px;
}

/* line 47, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.box input[type="submit"] {
  border: 0.5;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #A5A58D;
  padding: 14px auto;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

/* line 59, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.box input[type="submit"]:hover {
  background: #A5A58D;
}

/* line 63, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
.brad {
  justify-content: center;
}

/* line 66, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
#rec {
  height: 165px;
  width: 377px;
}

/* line 70, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
p .recibe {
  font-size: 127%;
  text-align: left;
  letter-spacing: 2.5px;
}

/* line 75, ../../../../../Documents/Proyecto final/sass/_contacto.scss */
h4 .titRec {
  font-weight: 200;
  text-align: center;
}

/* line 1, ../../../../../Documents/Proyecto final/sass/_productos.scss */
.paqueteProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

/* line 7, ../../../../../Documents/Proyecto final/sass/_productos.scss */
.card {
  width: 165px;
  height: 205px;
}

/* line 11, ../../../../../Documents/Proyecto final/sass/_productos.scss */
.card-img-top {
  width: 50%;
  height: 65%;
}

/* line 15, ../../../../../Documents/Proyecto final/sass/_productos.scss */
.botonProd {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #006505;
  background-color: #82b085;
  border-radius: 15px;
  border: 3px double #006505;
}

/* line 29, ../../../../../Documents/Proyecto final/sass/_productos.scss */
.botonProd:hover {
  opacity: 0.6;
  text-decoration: none;
}

/* line 1, ../../../../../Documents/Proyecto final/sass/_mision.scss */
#i1m {
  padding: 15px;
}

/* line 4, ../../../../../Documents/Proyecto final/sass/_mision.scss */
#i2m {
  padding: 15px;
}

/* line 7, ../../../../../Documents/Proyecto final/sass/_mision.scss */
#i3m {
  padding: 15px;
}

/* line 10, ../../../../../Documents/Proyecto final/sass/_mision.scss */
.tiMis {
  text-align: left;
  font-weight: 400;
}

/* line 14, ../../../../../Documents/Proyecto final/sass/_mision.scss */
#mtm {
  text-align: center;
  background-color: #DDBEA9;
}

/* line 18, ../../../../../Documents/Proyecto final/sass/_mision.scss */
#mtm h2 {
  font-weight: 600;
}

/* line 21, ../../../../../Documents/Proyecto final/sass/_mision.scss */
.manesByMell {
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */