.form{
	padding: 5px 2px;

}
.box{
	width: 397px;
	padding: 24px;
	position: relative;
	top: 45%;
	left: 36.5%;
	text-align: center;
}
.box h2{
	color: $texto-primario;
	text-transform: uppercase;
	font-weight: 400;
}
.box input[type="text"],{
	border:1.2rem;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $secundario;
	padding: 14px 10px;
	width: 200px;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type="email"]{
	border:1.2rem;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $secundario;
	padding: 14px 10px;
	width: 200px;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type ="text"]:focus, .box input[type ="email"]:focus{
	width: 350px;
	border-color: $primario;
	border-radius: 24px; 
}
.box input[type ="submit"],{
	border:0.5;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $secundario;
	padding: 14px auto;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type ="submit"]:hover{
	background: $secundario;
}

.brad{
	justify-content:center;
}
#rec{
	height: 165px;
	width: 377px;
}
p .recibe{
	font-size: 127%;
	text-align: left;
	letter-spacing: 2.5px;
}
h4 .titRec{
	font-weight: 200;
	text-align: center;
}