#i5{
	background: linear-gradient(0deg,#ffffff 25%,rgba(255,255,255,0) 70%,rgba(0,212,255,0.6) 100%);
}
.formContainer{
	justify-content: center;
}
.box{
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    width: auto;
	text-align: center;
}
.box h2{
	color: $texto-primario;
	text-transform: uppercase;
	font-weight: 400;
}
.box input[type="text"],{
	border:1.2rem;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $secundario;
	padding: 14px 10px;
	width: 200px;
	border-radius: 24px;
	transition: 0.25s;
	outline-style: none;
}
.box input[type="email"]{
	border:1.2rem;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $secundario;
	padding: 14px 10px;
	width: 200px;
	border-radius: 24px;
	transition: 0.25s;
	outline-style: none;
}
.box input[type ="text"]:focus, .box input[type ="email"]:focus{
	width: 60%;
	border-color: $primario;
	border-radius: 24px; 
}
.box input[type ="submit"],{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid $secundario;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	padding: 4px 20px;
}
.box input[type ="submit"]:hover{
	background: $secundario;
}

.brad{
	justify-content:center;
}
.recibe{
	font-size: 127%;
	text-align: center;
	letter-spacing: 2.1px;
}
.titleRecibe{
	font-weight: 200;
	color: $texto-secundario;
	text-transform: uppercase;
	text-align: center;
}
