#saveSpaceTop
{
	width: 100%;
    height: 128px;
}
#page{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
	backdrop-filter: blur(5px);
}
.item{
	width: 100%;
	height: 100%;
}
.icontent{
	border-radius: 10px;
	border: 1px solid rgba(0,212,255,0.5); 
	background-color: rgba(255, 162, 51, 0.1); 
	background: linear-gradient($main-bg-gradient);
	backdrop-filter: blur(25px);
	box-shadow: $b-s;
	margin: 10px;
}
#i1{
	height: 300px;	
}
#i2{
	height: 250px;	
}
#i3{	
	height: 200px;
	padding: 17px;	
}
#i4{	
	height: 100%;	
}
.afro{
	height: 450px;
}
.icontent{
    width: 100%;
    height: 100%;
    border-radius: 10px;   
}
.titInicial{
	display: flex;
    justify-content: center;
    font-weight: bold; 
    font-size: 450%;
}
.textInicial{
    display: flex;
    text-align: right;
    font-size: 1.25rem;
    height: 205px;
    margin: 28px;
}
.pIndex{
	font-size: 500%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}



