#saveSpaceTop{
	width: 100%;
    height: 128px;
}
#page{
    padding: 10px;
    border-radius: 10px;
	min-height: 64vh;
}
.item{
	width: 100%;
	height: 100%;
	padding: 17px;
}
.icontent{
	width: 100%;
    border-radius: 10px; 
    padding: 17px;
	border: 1px solid rgba(0,212,255,0.5); 
	background: linear-gradient($main-bg-gradient);
	backdrop-filter: blur(25px);
	box-shadow: $b-s;
}	
.titInicial{
	display: flex;
    justify-content: center;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 3.25rem;
}
.textInicial{
    display: flex;
    text-align: justify; 
}
.pIndex{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}



