#i1m{
	padding: 15px;
}
#i2m{
	padding: 15px;
}
#i3m{
	padding: 15px;
}
.tiMis{
	text-align: left;
	font-weight: 400;
}
#mtm{
	text-align: center;
	background-color: $primario;
}
#mtm h2{
	font-weight: 600;
}
.manesByMell{
	text-align: center;
}