#i1p{
	padding: 18px;
}
.tituloPol{
	font-weight: 200;
	font-size: 2.2rem;
	text-align: right; 
}
.textPol{
	font-size:1.7rem;
	text-align: right; 
}
.imgPol{
	display: flex;
	position: center;
	width: 250px;
	height: 300px;
}
.i2p{

}