.paqueteProductos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
}
.card-content{
	height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-content img{
    height:60%;
    border-radius: 10px;
    margin-top: 9px;
}
.botonProd{
    border:0.5;
    background: $primario;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $primario;
    padding: 14px auto;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
    color: $texto-primario;
}
.botonProd:hover{
    opacity: 0.6;
    text-decoration: none;
}
  