$primario: #DDBEA9;
$secundario: #A5A58D;
$texto-primario: #FFFFFF;
$texto-secundario: #000000;
$main-bg-color: rgba(255,255,255,0.3);
$main-bg-gradient: 0deg , rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(0,212,255,0.2) 100%;
$main-bg-color-active: rgba(255,255,255,0.7);
$b-s: 10px 20px 28px 0px rgba(0,0,0,0.3), 1px 1px 0px 0px rgba(255,255,255,0.2) inset, -6px -5px 13px 5px rgba(255,255,255,0.3) inset;